<header th:fragment="header" class="header-area main-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="logo-area">
                    <a th:href="@{/}"><img th:src="@{/images/solution-logo.png}" style="width: 255px;height: 134px"  alt="logo" ></a>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="custom-navbar">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="main-menu">
                    <ul>
                        <form action="#" class="form-inline">
                            <input type="email" placeholder="Recherche rapide" class="form-control" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Recherche rapide'" required>
                            <button type="submit" class="ml-2 btn btn-secondary"><i class="fa fa-search"></i></button>
                        </form>
                        </li>
                        <li class="active"><a th:href="@{/admin/home}" class="btn-outline-primary py-2" style="border-radius: 10px">Accueil</a></li>
                        <li ><a th:href="@{/commande/commandes}" class="btn-outline-primary py-2" style="border-radius: 10px">Gestion des Commandes</a>
                            <!--ul class="sub-menu">
                                <li><a th:href="@{/impression/impressions}">Impressions</a></li>
                                <li><a th:href="@{/conception/conceptions}">Conceptions</a></li>
                                <li><a th:href="@{/location/locations}">Locations</a></li>
                            </ul-->
                        </li>
                        <li ><a th:href="@{/category/ListCategories}" class="btn-outline-primary py-2" style="border-radius: 10px">Gestion des Categories</a>
                        <li ><a th:href="@{/product/listProduct}" class="btn-outline-primary py-2" style="border-radius: 10px">Gestion des Produits</a>
                        </li>
                        <li><a href="#">Ajouter&nbsp;<i class="fa fa-plus-circle"></i></a>
                            <ul class="sub-menu">
                                <li><a th:href="@{/impression/form}">Impression</a></li>
                                <li><a th:href="@{/conception/form}">Conception</a></li>
                                <li><a th:href="@{/location/form}">Location</a></li>
                            </ul>
                        </li>
                        <li><a href="#" class="dropdown-toggle btn-outline-primary py-2"  style="border-radius: 10px">Caisses</a>
                            <ul class="sub-menu">
                                <li><a href="job-search.html">Etats de toutes les commandes</a></li>
                                <li><a href="job-single.html">Etats Sécrétariat</a></li>
                                <li><a href="pricing-plan.html">Etats impression</a></li>
                                <li><a href="elements.html">Etats Caisses</a></li>
                            </ul>
                        </li>
                        <!--li><a href="job-category.html">category</a></li>
                        <li><a href="#">blog</a>
                            <ul class="sub-menu">
                                <li><a href="blog-home.html">Blog Home</a></li>
                                <li><a href="blog-details.html">Blog Details</a></li>
                            </ul>
                        </li>
                        <li><a href="contact-us.html">contact</a></li-->
                        <li><a th:href="@{/user/users}" class="btn-outline-primary py-2" style="border-radius: 10px">Utilisateurs</a>
                        </li>
                        <li><a href="#" class="dropdown-toggle btn-outline-primary py-2" style="border-radius: 10px">GRH Solution</a>
                            <ul class="sub-menu">
                                <li><a href="#">Etat des lieux</a></li>
                                <li><a href="#">Etat des besoins</a></li>
                                <li><a href="#">Consomations</a></li>
                            </ul>
                        </li>
                        <li class="menu-btn">
                            <br href="#" class="login"><img class="rounded-circle" th:src="@{/images/avatar.png}" data-toggle="dropdown" height="50" width="50"><br><span th:text="${session.loggedName}"></span></a>
                            <!--a href="#" class="dropdown-toggle" data-toggle="dropdown" ><span th:text="${session.loggedName}"> </span></a-->
                            <ul class="sub-menu">
                                <li ><a  href="#"><span th:text="${session.loggedName}"> </span></a></li>
                                <li ><a  href="#">Acount settings</a></li>
                                <div class="dropdown-divider"></div>
                                <li ><a  href="#">Log out</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>