<!-- Sidebar -->
<div th:fragment="sidebar" th:each=" role : ${session.compte.roles}"  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" class="sidebar sidebar-style-2">
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <div class="user" >
                <div class="avatar-sm float-left mr-2">
                    <img th:if="${session.compte.avatar}" th:src="${session.compte.avatar}" alt="..." class="avatar-img rounded-circle">
                    <img th:unless="${session.compte.avatar}" th:src="@{/images/default.jpeg}" alt="..." class="avatar-img rounded-circle">
                </div>
                <div class="info">
                    <a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
								<span>
									<span th:text="${session.compte.login}"></span>
									<span class="user-level" th:text="${session.compte.user.posteActuel}">Administrator</span>
									<span class="caret"></span>
								</span>
                    </a>
                    <div class="clearfix"></div>

                    <div class="collapse in" id="collapseExample">
                        <ul class="nav">
                            <li>
                                <a th:href="@{/user/detail/}+${session.compte.user.userId}">
                                    <span class="link-collapse">Mon Profile</span>
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/user/update/}+${session.compte.user.userId}">
                                    <span class="link-collapse">Editer Profile</span>
                                </a>
                            </li>
                            <li>
                                <a href="#settings">
                                    <span class="link-collapse">Parametres</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <ul class="nav nav-primary">
                <li class="nav-item active">
                    <a data-toggle="collapse" href="#dashboard" class="collapsed" aria-expanded="false">
                        <i class="fas fa-home"></i>
                        <p>Tableau de Bord</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="dashboard">
                        <ul class="nav nav-collapse">
                            <li th:if="${role.name}=='ROLE_USER' or ${role.name}=='ROLE_ROOT' or ${role.name}=='ROLE_GERANT' or ${role.name}=='ROLE_DG'">
                                <a th:href="@{/commande/commandes}">
                                    <span class="sub-item">Commandes</span>
                                </a>
                            </li>
                            <li th:if="${role.name}=='ROLE_ROOT' or ${role.name}=='ROLE_GERANT' or ${role.name}=='ROLE_DG'">
                                <a th:href="@{/article/articles}">
                                    <span class="sub-item">Tous les articles</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-section" sec:authorize=”isAuthenticated()”>
							<span class="sidebar-mini-icon">
								<i class="fa fa-ellipsis-h"></i>
							</span>
                    <h4 class="text-section">Gestions</h4>
                </li>
                <li class="nav-item" th:if="${role.name}=='ROLE_ROOT' or ${role.name}=='ROLE_GERANT' or ${role.name}=='ROLE_DG' or ${role.name}=='ROLE_DT' or ${role.name}=='ROLE_CAISSE' or ${role.name}=='ROLE_INFO'">
                    <a data-toggle="collapse" href="#base">
                        <i class="fas fa-layer-group"></i>
                        <p>Ressources materielles</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="base">
                        <ul class="nav nav-collapse">
                            <li th:if="${role.name}=='ROLE_ROOT' or ${role.name}=='ROLE_GERANT' or ${role.name}=='ROLE_DG' or ${role.name}=='ROLE_DT' or ${role.name}=='ROLE_CAISSE'">
                                <a th:href="@{/produit/produits}">
                                    <span class="sub-item">Produits en stock</span>
                                </a>
                            </li>
                            <li th:if="${role.name}=='ROLE_ROOT' or ${role.name}=='ROLE_GERANT' or ${role.name}=='ROLE_DG' or ${role.name}=='ROLE_DT' or ${role.name}=='ROLE_INFO'">
                                <a href="#log" data-toggle="collapse" >
                                    <p>Materiels & Logistique</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse" id="log">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a th:href="@{/materiel/ordinateurs}">
                                                <span class="sub-item">Ordinateurs</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a th:href="@{/materiel/imprimantes}">
                                                <span class="sub-item">Imprimantes</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a th:href="@{/materiel/autres}">
                                                <span class="sub-item">Autres</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item" th:if="${role.name}=='ROLE_ROOT' or ${role.name}=='ROLE_GERANT' or ${role.name}=='ROLE_DG'or ${role.name}=='ROLE_DRH'" >
                    <a data-toggle="collapse" href="#sidebarLayouts">
                        <i class="fas fa-th-list"></i>
                        <p>Ressources humaines</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="sidebarLayouts" >
                        <ul class="nav nav-collapse" >
                            <li >
                                <a th:href="@{/user/users}">
                                    <span class="sub-item">Tous le personnel</span>
                                </a>
                            </li>
                            <li >
                                <a th:href="@{/user/users/}+'consultant'">
                                    <span class="sub-item">Consultants</span>
                                </a>
                            </li>
                            <li >
                                <a th:href="@{/user/users/}+'staff'">
                                    <span class="sub-item">Staffs</span>
                                </a>
                            </li>
                            <li >
                                <a th:href="@{/user/users/}+'stagiaire'">
                                    <span class="sub-item">Stagiaires</span>
                                </a>
                            </li>
                            <li >
                                <a th:href="@{/user/users/}+'volontaire'">
                                    <span class="sub-item">Volontaires</span>
                                </a>
                            </li>
                            <li >
                                <a th:href="@{/client/clients}">
                                    <span class="sub-item">Clients</span>
                                </a>
                            </li>
                            <li >
                                <a th:href="@{/receptions/lists}">
                                    <span class="sub-item">Visiteurs</span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- End Sidebar -->